{% extends "layout.html" %}

{% block css %}
<!--<link rel="stylesheet" type="text/css" href="/static/font/NotoSansJP/">-->
<link rel="stylesheet" type="text/css" href="/static/css/about-us.css">
{% endblock %}

{% block content %}

<div class="container-contact100">
    <div class="wrap-contact100">
        <span class="contact100-form-title">
            About This Website
        </span>
        <div class="about-us-content">
            {% include "about-us-content.html" %}
        </div>
    </div>


</div>
{% endblock %}
