        <article class="app-content">
            <a href="/reverse">
            <div class="article-inner">
                <div class="article-pic">
                    <img src="/static/images/noimage.png" alt="noimage">
                </div>
                <div class="article-detail">
                    <header>
                        <h1 class="article-title">reverse </h1>
                    </header>
                    <p class="article-description">文字列を入力すると逆さ文を下に表示します．</p>
                </div>
            </div>
            </a>
        </article>
                <article class="app-content">
            <a href="/is-it-sentence">
            <div class="article-inner">
                <div class="article-pic">
                    <img src="/static/images/noimage.png" alt="noimage">
                </div>
                <div class="article-detail">
                    <header>
                        <h1 class="article-title">is-it-sentence </h1>
                    </header>
                    <p class="article-description">表示される文字列が文章になっているか判断してください．</p>
                </div>
            </div>
            </a>
        </article>
                <article class="app-content">
            <a href="/random">
            <div class="article-inner">
                <div class="article-pic">
                    <img src="/static/images/noimage.png" alt="noimage">
                </div>
                <div class="article-detail">
                    <header>
                        <h1 class="article-title">random </h1>
                    </header>
                    <p class="article-description">ランダムな文字列を表示します．</p>
                </div>
            </div>
            </a>
        </article>
                <article class="app-content">
            <a href="/db-sample">
            <div class="article-inner">
                <div class="article-pic">
                    <img src="/static/images/noimage.png" alt="noimage">
                </div>
                <div class="article-detail">
                    <header>
                        <h1 class="article-title">db-sample </h1>
                    </header>
                    <p class="article-description">ランダムにサンプルデータベースの内容を表示します．</p>
                </div>
            </div>
            </a>
        </article>
        