{% extends "layout.html" %}
{% block content %}

<div class="container-contact100">
    <div class="wrap-contact100">
        <span class="contact100-form-title">
            Sample App Collection
        </span>
        <div class="app-list">
            <article class="app-content">
                <a href="/reverse">
                <div class="article-inner">
                    <div class="article-pic">
                        <img src="/static/images/noimage.png" alt="noimage">
                    </div>
                    <div class="article-detail">
                        <header>
                            <h1 class="article-title">reverse </h1>
                        </header>
                        <p class="article-description">文字列を入力すると逆さ文を下に表示します．</p>
                    </div>
                </div>
                </a>
            </article>
            <article class="app-content">
                <a href="/random">
                <div class="article-inner">
                    <div class="article-pic">
                        <img src="/static/images/noimage.png" alt="noimage">
                    </div>
                    <div class="article-detail">
                        <header>
                            <h1 class="article-title">random </h1>
                        </header>
                        <p class="article-description">ランダムな文字列を表示します．</p>
                    </div>
                </div>
                </a>
            </article>
        </div>
    </div>


</div>
{% endblock %}
