appdirs==1.4.4
attrs==21.2.0
blis==0.7.4
catalogue==2.0.4
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cymem==2.0.5
distlib==0.3.1
filelock==3.0.12
Flask==1.1.2
idna==2.10
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
murmurhash==1.0.5
numpy==1.20.2
packaging==20.9
pathy==0.5.2
pipenv==2020.11.15
pluggy==0.13.1
preshed==3.0.5
py==1.10.0
pydantic==1.7.3
pyparsing==2.4.7
pytest==6.2.4
requests==2.25.1
six==1.16.0
smart-open==3.0.0
spacy==3.0.6
spacy-legacy==3.0.5
srsly==2.4.1
thinc==8.0.3
toml==0.10.2
tqdm==4.60.0
typer==0.3.2
urllib3==1.26.4
virtualenv==20.4.6
virtualenv-clone==0.5.4
wasabi==0.8.2
Werkzeug==1.0.1
