body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container-contact100{
    align-items: normal;
    min-height: auto;
    flex: 1;
    padding: 15px;
    /*text-align: center;*/
}

.btn-half{
    width: 50%;
}

.article-inner{
    background-color: antiquewhite;
    display: flex;
    align-items: center;
}

.app-list{
    background-color: darkgray;
    padding: 3px
}

.app-content{
    margin: 10px;
}


.article-pic{
    display: flex;
    margin: 10px;
}

.article-pic img{
    height: 100px;
}

.top {
    text-align: center;
}

