.root {
    margin: 10px;
    border-radius: 10px;
}
.media {
    height: 130px;
}
.cardContent {
    padding-top: 7px;
    padding-right: 9px;
    padding-left: 9px;
}
.cardContent:last-child {
    padding-bottom: 7px
}
.textShopName {
    padding: 2px 0 0 0;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 700;
}
.textSecondary {
    font-weight: 700;
    padding: 2px 0 0 0;
    margin: 0;
    font-size: 1rem;
    white-space: pre-line;
}
.textStars {
    color: #fbc02d;
    width: 40%;
}
.textVotes {
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 700;
}
.textVoteResult {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    color: #FF0000;
}
.buttonWrapper {
    display: flex;
    height: 100%;
    width: 100%;
    text-align: center;
}
.buttonContainer {
    width: 100%;
    align-items: center;
}
.cardAction {
    font-weight: 700;
    line-height: 30px;
    font-size:16px;
    padding: 2px 12px;
    margin:  6px auto;
    width: 60%;
    background-color: #D90060;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    align-items: center;
    cursor: pointer;
}