.article-inner{
    background-color: antiquewhite;
    display: flex;
    align-items: center;
}


.article-pic{
    display: flex;
    margin: 10px;
}

.article-pic img{
    height: 100px;
}

.top {
    text-align: center;
}
