#AppBottomNavigation{
    position: static;
}
.Selection-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.Selection{
    flex: 1;
    height: calc(100% - 30);
    position: relative;
}
.card-container{
    height: 100%;
    position: relative;
}
