#AppBottomNavigation{
    position: static;
}
.Selection-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.Selection-header{
    height: 40px;
}
.Selection-header-content{
    display: flex;
    align-items: center;
}
.Selection{
    flex: 1;
    height: calc(100% - 30);
    position: relative;
    margin-bottom: 5px;
}

.group-id{
    font-size: 12px;
}

.information-deck{
    height: 100%;
    position: relative;
}
