#AppBottomNavigation{
    position: static;
}
.Selection-wrapper{
    height: 100%;
}
.Selection{
    height: 100%;
    position: relative;
}
.card-container{
    height: 100%;
    position: relative;
}
