.setting {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-wrapper {
    height: 30%;
    margin-top: 30px;
}
.title-image {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forms-wrapper {
    height: 30%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px;
}

.buttons-wrapper {
    height: 30%;
    flex: 1;
}

.form-content-wrapper{
    flex: 1;
    margin-bottom: 5px;
}

.form-content {
    /*display: inline-flex;*/
    display: flex;
    justify-content: start;
}

.form-title {
    background-color: #c4c4c4;
    width: 8ch;
    height: auto;
    margin-right: 10px;
}

.buttons-wrapper > button{
    height: 40%;
    margin-bottom: 10px;
    padding: 0;
    background-color: transparent;
    border-color: transparent;
    z-index: 2;
    cursor: pointer;
}

.buttons-wrapper > button > img {
    height: 100%;
}
